<div class="container-fluid px-5">
    <div class="row">
        <div class="col-2" *ngIf="showSearch == true">
        </div>
        <div class="col-7" *ngIf="showSearch == true">
            <app-search-panel></app-search-panel>
        </div>
        <div class="col-1" *ngIf="showSearch == false"></div>
        <div class="col-7 mt-3" *ngIf="showSearch == false">
            <div class="row border-bottom mb-2">
                <h4>Results</h4>
            </div>
            <div class="row mb-3" *ngFor="let article of searchResults">
                <div class="col-9">
                    <h5 class="text-primary">{{article.title}}</h5>
                </div>
                <div class="col-3">
                    <div class="float-right">
                        <label><i>{{article.magazineName}}</i></label>
                    </div>
                </div>
                <div class="col-12 my-1" [innerHtml]="article.contentHighlight">
                </div>
                <div class="col-10">
                    <label><b>Authors: &nbsp;&nbsp;</b></label>
                    <label>{{article.authors}}</label>
                </div>
                <div class="col-1">
                    <button class="btn btn-link">Download</button>
                </div>
            </div>
        </div>
        <div class="col-1" *ngIf="showSearch == false">
        </div>
        <div class="col-3" *ngIf="showSearch == false">
            <app-shoping-cart ></app-shoping-cart>
        </div>
    </div>
</div>
